{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymTrack</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page-shell">
    <header class="topbar">
        <div class="topbar-inner">
            <div class="brand">
                <div class="brand-logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo do GymTrack">

                </div>
                <div class="brand-text">
                    <h1>GymTrack</h1>
                    <p>Gestão moderna de treinos</p>
                </div>
            </div>

            {% if user.is_authenticated %}
                <nav class="nav">
                    <a href="{% url 'home' %}">Início</a>
                    <a href="{% url 'treinos' %}">Treinos</a>
                    <a href="{% url 'exercicios' %}">Exercícios</a>
                    <a href="{% url 'execucao' %}">Execução</a>
                    <a href="{% url 'perfil' %}">Perfil</a>
                    <a href="{% url 'logout' %}" class="nav-primary">Sair</a>
                </nav>
            {% else %}
                <nav class="nav">
                    <a href="{% url 'login' %}">Entrar</a>
                    <a href="{% url 'register' %}" class="nav-primary">Cadastrar</a>
                </nav>
            {% endif %}
        </div>
    </header>

    <main class="main-container">

{% if messages %}
    <div id="alerts-container">
        {% for message in messages %}
            <div class="alert alert-success auto-hide">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% block content %}{% endblock %}
</main>
</div>
<script>
    setTimeout(() => {
        const alerts = document.querySelectorAll('.auto-hide');

        alerts.forEach(alert => {
            alert.style.opacity = '0';
            alert.style.transform = 'translateY(-10px)';

            setTimeout(() => {
                alert.remove();
            }, 500);
        });
    }, 3000); // 3 segundos
</script>
</body>
</html>